:root{

  --color-whiteorange: #faeeee;
  --color-main: #BF2C34;
  --color-faded: #bf2c334b;
  --color-darkblue: rgb(2,3,129);
}

.color-main{color: var(--color-main);}
.color-whiteorange{color: var(--color-whiteorange);}
.color-faded{color: var(--color-faded);}
.color-darkblue{color: var(--color-darkblue);}

.bg-main, footer{background-color: var(--color-main) !important; }
.bg-whiteorange{background-color: var(--color-whiteorange);}
.bg-faded{background-color: var(--color-faded);}
.bg-darkblue{
  background-color: var(--color-darkblue);
  color: var(--color-whiteorange);
}

body{
  font-size: 1rem;
}

.color__darkblue{
  color: var(--color-darkblue);
}

.main__btn{
  background-color: var(--color-main);
  color: var(--color-whiteorange);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.border__btn{
  border: 2px solid var(--color-main);
  background-color: transparent;
  color: var(--color-main);
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.btn__gray{
  border: 2px solid gray;
  color: gray;
}

.main__btn::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background-color: var(--color-darkblue);
  transition: all 0.3s ease-in-out;
  z-index: -1;
  opacity: 0;
}

.main__btn:hover::before{
  width: 100%;
  opacity: 1;
}


.hero .container::before{
  content: "";
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 80%;
  z-index: -1;
  background: radial-gradient(2762.36% 537.65% at -49.50% -250.00%, #cd8e69 17.55%, var(--color-main) 27.56%, var(--color-main) 49.89%, #C9D4EF 56.53%, #EA906C 65.69%);
  filter: blur(300px);

}

.hero{
  padding-top: 20vh;
}

.how__repeated{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section__title{
  font-size: 2.5rem;
}

.section__subtitle{
  font-size: 1.5rem;
}

.how__repeated{
  background-color: var(--color-whiteorange);
  border-radius: 5px;
  padding: 2rem 2rem 3rem;
}

.check__rounded{
  background-color: var(--color-main);
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.cta::before{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: radial-gradient(2762.36% 537.65% at -49.50% -250.00%, #e87430 17.55%, var(--color-main) 27.56%, var(--color-main) 49.89%, var(--color-darkblue) 56.53%, #e54709 65.69%);
  filter: blur(300px);

}

.logo__gradient{
  background: linear-gradient(90deg, var(--color-darkblue) 0%, var(--color-main) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left__div,
.right__div{
  width: 40rem;
  max-width: 100%;
}

.about__us::before{
  content: "";
  position: absolute;
  background: url(./assets/images/africa.jpg) no-repeat center;
  z-index: -1;
  inset: 0;
  opacity: .25;
  transform: translateX(5rem);
}

.section__celebrate::before{
  content: "";
  position: absolute;
  /**Backgound gradient of color main and dark-blue*/
  background: linear-gradient(90deg, var(--color-darkblue) 0%, var(--color-main) 100%);
  z-index: -1;
  left: -2rem;
  bottom: -2rem;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.section__celebrate{
  isolation: isolate;
}

.card__repeated{
  background-color:#bf2c3330;
}

.all__events .card__repeated{
  background-color: white;
}

.card__repeated:hover{
  color: black;
}

.card__icon{
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  
}

.card__organisor{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--color-darkblue) 100%);
}

.footer__top{
  border-bottom: 1px solid white;
}

footer{
  color: rgba(245, 245, 245, 0.817);
}

.events__banner{
  background-size: cover;
  height: 30vh;
  /*Add a gradient transparent overlay, a mixture of --color-darkblue and --color-main */
  background: linear-gradient(90deg, var(--color-darkblue) 0%, var(--color-main) 100%);

}

main.main__padding{
  padding-top: 12vh;
}

main{
  min-height: 100vh;
}

.events__core h5{
  font-size: 17px;
  opacity: .5;
}

.side__bar--list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  margin-top: 1rem;
}

.side__bar--list span{
  border-radius: 5px;
  display: block;
  padding-inline: 5px;
  cursor: pointer;
}

.side__bar--list.hashtags span{
  background-color: rgba(128, 128, 128, 0.31);
}

.side__bar--list:not(.hashtags) span{
  color: var(--color-darkblue);
}

.side__bar--list span:hover{
  background-color: var(--color-faded);
}

.sidebar__upcoming--events{
  background-color: var(--color-whiteorange);
  border-radius: 5px;
  padding: .75rem 1rem;
}

.sidebar__upcoming--events>span{color: var(--color-main) !important; margin-bottom: .25rem;}
.sidebar__upcoming--events>div>span{font-size: .75rem;}


.events__core .filters button,
.alumnis .filters button {
  border: 1px solid gray;
  color: gray;
}

.events__core .filters button.active,
.alumnis .filters button.active{
  background-color: var(--color-main);
  color: var(--color-whiteorange);
  border: 1px solid var(--color-main);
}

.events__container>div{
  width: 45%;
}

.events__core--side{
  position: sticky;
  top: 15vh;
  left: 0;
  height: 100%; 
  overflow-y: auto;
}

.nav__links a.active{
  color: var(--color-main) !important;
  position: relative;
  isolation: isolate;
}

.nav__links a.active::after{
  content: "";
  position: absolute;
  border: 1px solid var(--color-main);
  bottom: -1rem;
  width: 150%;
  left: -25%;
}

.details__hero{
  height: 35vh;
}

.details__hero>img{
  object-position: center;
}

.event__ticket,
.contact__content{
  top: 75%;
  left: 0;
  right: 0;
}

.qrcode__section,
.organisor__details{
  width: 25rem;
}

.ticket__left,
.qrcode__section{
  background-color: white;
}

.ticket__left{
  border-radius: 10px 0 0 10px;
}

.qrcode__section{
  border-radius: 0 10px 10px 0;
}

.separator{
  border: 2px dashed rgb(195, 195, 195);
  position: relative;
}

.separator::before{
  content: "";
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  background-color: rgb(206, 206, 206);
}

.event__details{
  padding-top: 25rem;
  padding-inline: 20%;
}

.profile__rounded{
  width: 4rem;
  height: 4rem;
}

.organisor__details{
  border: 1px solid rgba(128, 128, 128, 0.475);
}

.contact__content{
  top: 30%;
}

.contact__form input,
.contact__form textarea{
  padding: .75rem;
  width: 75%;
  font-size: 1rem;
  /* font-weight: 400 !important; */
  margin: 1.5rem 0;
}

.signup__form input,
.signup__form textarea{
  margin: 1rem 0;
}


.auth__form input,
.auth__form textarea{
  width: 100%;
}

.auth__form{
  width: 30rem;
  max-width: 100%;
}


.custom__modal,
.overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0101016c;
  animation: appear ease-in .2s;
  z-index: 999;
}

@keyframes appear{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


.modal__content{
  animation: slideDown ease-in .3s;

}

@keyframes slideDown{
  from{
    opacity: 0.5;
    transform: translateY(-50%);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.close__modal{
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: gray;
  font-size: 1.5rem;
  cursor: pointer;
}


.form__group{position: relative;}
.form__group label{
  transform: translate(1rem, 2.25rem);
  color: gray;
  padding: 0 5px;
  transition: all ease-in-out .3s;
  position: absolute;
}

.signup__form .form__group label{
  transform: translate(1rem, 1.75rem);
}

.form__group:has(input:focus) label,
.form__group:has(textarea:focus) label,
.form__group:has(input:not(:placeholder-shown)) label,
.form__group:has(textarea:not(:placeholder-shown)) label{
  transform: translate(-0.25rem, -0.25rem);
  background-color: var(--color-polar);
  width: auto;
}

.signup__form .form__group:has(input:focus) label,
.signup__form .form__group:has(textarea:focus) label,
.signup__form .form__group:has(input:not(:placeholder-shown)) label,
.signup__form .form__group:has(textarea:not(:placeholder-shown)) label{
  transform: translate(-0.25rem, -0.5rem);
}

.form__group input::placeholder,
.form__group textarea::placeholder{
  opacity: 0;
}

select{
  border: 1.2px solid rgb(194, 194, 194)
}

.contact__information{
  transform: translate(-30%, 50%);
}

.alumni__card{
  border: 1px solid rgba(128, 128, 128, 0.305);
  transition: all ease-in-out .3s;
}

.alumni__card:hover{
  background-color: rgba(2,3,129, .25);
  color: var(--color-darkblue);
}

.alumni__card img{
  border: 2px solid rgba(128, 128, 128, 0.305);
}

.alumni__card--more{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  transition: all ease-in-out .3s;
}

.alumni__card--more:hover{
  color: var(--color-main);
  opacity: 1;
}

.stats__card--icon{
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(2,3,129, .25);
  color: var(--color-darkblue);
}


.react-calendar{
  width: 100% !important;
  border: none !important;
  border-radius: 15px;
  padding: 1rem;
}

.react-calendar__month-view__weekdays__weekday abbr{
  text-decoration: none !important;
}

.react-calendar__tile--now{
  background-color: #d1e6f6 !important;
}

.react-calendar__tile--active{
  background-color: #55c360 !important;
  border-radius:5px;
}


button.react-calendar__navigation__label {
  font-size: 1.15rem;
  text-transform: capitalize;
  color: var(--color-green);
}

.react-calendar__navigation button:hover,
.react-calendar button:hover{
  background-color: #d1e6f6 !important;
}

.my__events--stat{
  background-color: var(--color-faded);
  color: var(--color-main);
  border-radius: 5px;
  padding: 1rem;
  position: relative;
  --after-color: var(--color-main);
}

.ev__stat--1{
  background-color: #C9D4EF;
  color: var(--color-darkblue);
  --after-color: var(--color-darkblue);
}

.ev__stat--2{
  background-color: rgba(128, 0, 128, 0.236);
  color: purple;
  --after-color: purple;
}

.my__events--stat::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--after-color);
  bottom: 0;
}

.my__events-repeated{
  border: 1px solid rgba(128, 128, 128, 0.385);
}

.my__upcoming--event,
.badge__success{
  color: green;
  background-color: #55c3602e;
}

.my__past--event,
.badge__error{
  color: var(--color-main) !important;
  background-color:#bf2c3337
}

.card__repeated img{
  height: 15rem;
}

.auth__page::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 75%;
  background-color: var(--color-whiteorange);
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.auth__page::after{
  content: "";
  position: absolute;
  left: 75%;
  top: 0;
  width: 25%;
  background-color: var(--color-faded);
  height: 100%;
  z-index: -1;
  opacity: 0.35;
}

.show__pass{
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.submit__loader {
  width: 24px;
  height: 24px;
  border: 5px dotted #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

button .loading{
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.auth__form .message{
  padding: .5rem;
}


.border-main{
  border: 2px solid var(--color-main);
}


.skeleton__loader {
  width: 100%;
  height: 215px;
  display: block;
  margin: auto;
  position: relative;
  background: #FFF;
  box-sizing: border-box;
}

.skeleton__loader::after {
  content: '';
  width: calc(100% - 30px);
  height: calc(100% - 15px);
  top: 15px;
  left: 15px;
  position: absolute;
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%),
   linear-gradient(#DDD 100px, transparent 0),
   linear-gradient(#DDD 16px, transparent 0),
   linear-gradient(#DDD 50px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 175px, 100% 100px, 100% 16px, 100% 30px;
  background-position: -185px 0, center 0, center 115px, center 142px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  to {
    background-position: 185px 0, center 0, center 115px, center 142px;
  }
}


.select__input{
  border: 1.2px solid rgb(194, 194, 194);
}

.select__list{
  top: 115%;
  left: 0;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 10;
  max-height: 50vh;
  overflow-y: auto;
  animation: appearFromBottom .3s ease-in-out;
}

@keyframes appearFromBottom {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.select__list span{
  color: gray;
  padding: .25rem .5rem;
  border-radius: 5px;
}

.select__list span:hover{
  background-color:#2baffc29;
  cursor: pointer;
}

.select__label{
  left: 0.25rem;
  top: -1.5rem;
  color: gray;
  background-color: var(--color-polar);
  animation: appearFromBottom .3s ease-in-out;

}

.spin__loader {
  width: 64px;
  height: 64px;
  position: relative;
  background-image:
    linear-gradient(#FFF 16px, transparent 0) ,
    linear-gradient(var(--color-main) 16px, transparent 0) ,
    linear-gradient(var(--color-main) 16px, transparent 0) ,
    linear-gradient(#FFF 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top , left bottom , right top , right bottom;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg)
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg)
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg)
  }
}

.border-gray{
  border: 1px solid rgba(128, 128, 128, 0.466);
}

.chat__profile{
  width: 3rem;
  height: 3rem;
}

.shrink-0{
  flex-shrink: 0;
}

.unread__tag{
  background-color: var(--color-main);
  color: var(--color-whiteorange);
  border-radius: 100%;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .75rem;
}

.chat__repeated{
  padding: .5rem;
}

.chat__repeated:hover{
  background-color: var(--color-whiteorange);
}

.chat__page{
  max-height: 100vh;
}



.chat__header--profile{
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid var(--color-darkblue);
}

.chat__message--profile{
  width: 2rem;
  height: 2rem;
}

.message__received .message__body{
  background-color: var(--color-whiteorange);
  border-radius: 10px 10px 10px 0;
}

.message__received{
  max-width: 60%;
}

.message__sent .message__body{
  background-color: var(--color-darkblue);
  color: white;
  border-radius: 10px 10px 0 10px;
}

.chat__repeated.active{
  border-left: 3px solid var(--color-main);
  background-color: var(--color-whiteorange);
}

.chat__form{
  position: sticky;
  bottom: 0;
  left: 0;
  isolation: isolate;
}

.chat__header{
  position: sticky;
  top: 0;
  left: 0;
}


.blurry-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px); 
  background-color: rgba(255, 255, 255, 0.7); 
  z-index: -1;
}

.profile__hero::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--color-darkblue) 0%, var(--color-main) 100%);
  opacity: .5;
  z-index: 1;
}

.profile__page--img{
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  border: 2px solid white;
  transform: translateY(5rem);
}

.profile__starter{
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.profile__role{
  background-color: var(--color-main);
  color: var(--color-whiteorange);
  padding: .25rem .5rem;
  border-radius: 5px;
}

.stat__border::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 50%;
  width: 1rem;
  border-right: 1px solid #faeeee77;
}

.current__tab{
  border-left: 1px solid var(--color-main);
  background-color: var(--color-whiteorange);
  color: var(--color-main);
}

.change__profile--Label{
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  transition: all ease-in-out .3s;
}

.profile__page--img:hover .change__profile--Label{
  bottom: 0;
}

.closed__chats--img{
  width: 20rem;
}

.users__search--modal{
  width: 30rem;
  max-width: 90%;
}

.small__profile{
  width: 2rem;
  height: 2rem;
}

.user__repeated{
  padding: .5rem;
  border-radius: 5px;
  cursor: pointer;
}

.user__repeated:hover{
  background-color: var(--color-whiteorange);
}